:root{
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://landing.bookster.ro/Content/img/landing/header.png");
  opacity: var(--mainOpacity);
  height: 25em !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
background-color: #0e76a8 ;
}

.col-image-left {
  background-image: url("http://s.s-bol.com/imgbase0/imagebase/large/FC/8/8/9/8/1001004006878988.jpg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("http://s.s-bol.com/imgbase0/imagebase/large/FC/6/2/8/0/9200000008070826.jpg");
  height: 25em !important;
}

.lost-image {
  background-image: url("http://s.s-bol.com/imgbase0/imagebase/large/FC/7/0/0/7/9200000009027007.jpg");
  height: 25em !important;
  width: "720"
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}